// Specific CSS for your home-page
.keepfooter {
  position: relative;
  min-height: 100vh;
  padding-bottom: 48px;
}

#cocktail-homepage {
  text-align: center;
  h1 {
    color: $brand-primary;
  }
  h2 {
    margin-top: 0;
    padding: 16px;
    background-color: $brand-success;
    color: $red;
    text-align: center;
  }
  .title {
    width: 100vw;
  }
  .banner {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: asset-url('banner.jpg'), linear-gradient(324deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 100%);
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  .banner-text {
    font-weight: bold;
    font-size: 75px;
    color: $red;
    display: flex;
    text-align: center;
  }
  .card-box {
    justify-content: center;
    align-items: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .cocktail-card {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 8px;
    width: 336px;
    height: 256px;
    background-color: $brand-info;
    box-shadow: 2px 2px 2px 1px $brand-success;
  }
  .new-button {
    margin-bottom: 32px;
  }
  .cocktail-img {
    height: 200px;
  }
  .cocktail-card-text {
    align-items: center;
    height: 56px;
    color: $brand-danger;
    background-color: $light-gray;
  }
}
#margin-top-btn {
  margin-top: 16px;
}
#margin-bottom-btn {
  padding-bottom: 16px;
}
